body{
  text-align:center;
}
.cbsoftimage{
  width: 75%;
}
.cbsoft{
  width:50%;
  margin: auto;
}
.heading{


}
.h2heading{
  text-align: center;
  color: green;

}
.works-image{
  width: 25%;
}
